.git
.github
.env
.env.*
!.env.example
auth.json
database/*.sqlite
node_modules
npm-debug.log
yarn-error.log
vendor
storage/app/private
storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/hot
public/storage
.phpunit.cache
.phpunit.result.cache
tests
docs/**/*.tmp
